extends layout
block content
	link(rel='stylesheet', href='/jstree-3.3.10/themes/default/style.css')
	.container-fluid(style='height: 100%;')
		.row(style='height: 100%;')
			.col
				#filetree
			.col-xl
				#editor

	script(src='/javascripts/ace/ace.js')
	script(src='/jstree-3.3.10/jstree.js')
	script(src='/javascripts/rotide/rotide.js')
